.popular-courses-img{
    height: 200px;
    width: 200px;
}

.courses-gutter-size{
    height:200px ;
    width: 648px;
}

.learning-img{

    height: 800px;
    width: 600px;

}

.learning-card{
    width: 1320px;
    height: 800px;
}

.register-to-join{
    height: 300px;
    width: 1320px;
}